:root {
    --basic-black: #000000;
    --basic-dark: #333333;
    --sea-green: #81B3D2;
    --sea-green-hover: #669EC0;
    --sea-green-pressing: #5496BD;
    --light-brown: #766357;
    --light-brown2: #766458;
    --brown: #766357;
    --brown-hover: #604E43;
    --brown-focus: #503E33;
    --basic-neutral: #666666;
    --light-yellow: #EEEEEE;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;
    --shadow: #FFFFFF;
    --special: #CACACA;
}


/* Global */

page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

.shadow {
    box-sizing: border-box;
    /*position: absolute;*/
    /*background-position: 50%;*/
    width: 1200px;
    height: 2807px;
    text-align: center;
    margin: 0 auto;
    /*top: 0px;*/
    /*background: var(--shadow);*/
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.inner-page .shadow {
    height: 933px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* Grid */

.page {
    height: 100%;
}


/* Header */

.main-header {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    max-width: 1200px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding-left: 72px;
    padding-bottom: 15px;
    padding-right: 72px;
    /* grid */
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.main-header-logo {
    text-align: center;
    margin-top: -26px;
    /* grid */
    order: 1;
    justify-self: center;
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
}


/* Main navigation */

.main-navigation {
    display: grid;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    background-color: transparent;
}

.main-header-bar {
    background-color: var(--basic-black);
}

.main-navigation-wrapper {
    background-color: var(--basic-white);
    /* grid */
    display: grid;
    grid-template-columns: 1fr min-content;
    width: 1056px;
    height: 56px;
    margin-bottom: -26px;
    margin: 0 auto;
    padding: 0 0px;
    margin-bottom: -30px;
}

.site-navigation {
    /*сброс отступов для списка ссылок в навигации*/
    margin: 0;
    padding: 0;
    /*-------------------------*/
    padding-top: 18px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1056px;
    max-height: 56px;
    /*--------------------------*/
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-white);
}


/* User navigation */

.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    text-decoration: underline;
    color: var(--sea-green-hover);
}

.hidden-text {
    display: none;
}

.picture {
    position: relative;
    z-index: 0;
    margin-top: 55px;
    text-align: center;
    /*---grid-----*/
    outline: 5px solid rgba(0, 255, 255, 0.2);
    outline-offset: -5px;
}

.desc {
    width: 1200px;
    height: 174px;
    padding-top: 55px;
    text-align: center;
    line-height: 26px;
    /*---grid-----*/
    outline: 5px solid rgba(0, 255, 255, 0.5);
    outline-offset: -5px;
}

.text-pic {
    display: inline-block;
    width: 400px;
    height: 209px;
    padding-top: 47px;
    text-align: center;
    background-color: var(--sea-green);
    color: var(--basic-white);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    /*-------------------*/
    outline: 5px solid rgba(0, 25, 250, 0.2);
    outline-offset: -5px;
}

.inner-page .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.inner-page .inner-container {
    color: var(--basic-white);
}

.filter-box {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 217px;
    align-content: top;
    text-align: left;
    margin-top: -217px;
    padding-left: 72px;
    padding-top: 26px;
    padding-bottom: 31px;
    padding-right: 72px;
}


/* Features */

.features {
    width: 1100px;
    height: 184px;
    padding-left: 50px;
    padding-top: 64px;
    padding-bottom: 82px;
    padding-right: 50px;
    /* grid */
    outline: 5px solid rgba(255, 0, 0, 0.3);
}

.features-list {
    /* обнуление отступов */
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    /*-----------------*/
    list-style: none;
}

.feature-item {
    display: inline-block;
    box-sizing: border-box;
    max-width: 430px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: 400;
    align-items: flex-end;
    vertical-align: bottom;
    /* grid */
    outline: 5px solid rgba(0, 255, 255, 0.3);
    outline-offset: -5px;
}

.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
}

.feature-item p {
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    /*-------------*/
    margin: 0 10px;
}


/* Landmark */

.landmark {
    height: 209px;
    padding-top: 47px;
    padding-left: 72px;
    padding-right: 72px;
    background-color: var(--light-yellow);
    /*-----------------*/
    outline: 5px solid rgba(0, 255, 255, 0.7);
    outline-offset: -5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.landmark-item {
    width: 302px;
    height: 155px;
    font-size: 14px;
    line-height: 21px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: center;
    /*---grid-----*/
    outline: 5px solid rgba(0, 255, 255, 0.7);
    outline-offset: -5px;
}


/* Offers */

.offers {
    width: 1200px;
    height: 150px;
    text-align: center;
    padding-top: 56px;
    /*-----------------*/
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.offers h1 {
    width: 568px;
    height: 56px;
    padding-top: 30px;
    background-color: var(--light-brown);
    text-align: center;
    font-size: 21px;
    color: var(--basic-white);
    line-height: 26px;
}

.offers p {
    width: 568px;
    height: 95px;
    margin-left: 316px;
    margin-right: 316px;
    text-align: center;
    vertical-align: middle;
}

.offers-search {
    width: 568px;
    height: 56px;
    margin-left: 316px;
    padding-top: 30px;
    background-color: var(--light-brown);
    text-align: center;
    vertical-align: middle;
}

.form-popup {
    /*display: none;*/
    /*position: fixed;*/
    /*bottom: 0;*/
}

.windows-input {
    width: 458px;
    height: 285px;
    z-index: 2;
    padding: 20px 55px 55px 55px;
}

.string-input {
    /*display: inline-flex;*/
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    text-aline: left;
    vertical-align: middle;
}

.box {
    display: grid;
    grid-template-columns: 140px 140px 140px 30px;
    row-gap: 29px;
    column-gap: 10;
    min-height: 70px;
    vertical-align: middle;
    text-align: left;
    align-content: center;
    /* grid */
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}

.box label {
    display: inline;
    height: 30px;
    vertical-align: middle;
    grid-column: 1 / 2;
    align-content: center;
}

.box input {
    display: inline-flex;
    height: 30px;
    width: 260px;
    grid-column: 2 / 4;
    margin-right: 6px;
    text-align: left;
    vertical-align: middle;
    align-content: center;
}

.box a {
    display: inline-flex;
    vertical-align: middle;
    height: 30px;
    grid-column: 4 / 5;
}

.box2 {
    display: grid;
    grid-template-columns: 95px 110px 90px 110px;
    row-gap: 29px;
    column-gap: 10px;
    height: 30px;
    min-width: 448px;
    vertical-align: middle;
    text-align: left;
    align-content: center;
    width: 100px;
    padding: 10px;
    margin-top: 29px;
    /* grid */
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}

.input-data {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;
    width: 568px;
    height: 481px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: -231px;
    font-size: 21px;
    line-height: 52px;
    background-color: var(--basic-white);
    /* grid */
    outline: 5px solid rgba(0, 11, 55, 0.8);
    outline-offset: -5px;
}

.input-data h1 {
    width: 568px;
    height: 54px;
    padding-top: 32px;
    vertical-align: middle;
    background-color: var(--light-brown);
    text-align: center;
    font-size: 21px;
    color: var(--basic-white);
    line-height: 26px;
}

.button-find {
    width: 458px;
    height: 58px;
    background-color: var(--sea-green);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-top: 29px;
}

.calendar {
    float: right;
    vertical-align: text-bottom;
}

.map {
    position: relative;
    z-index: 0;
    margin-top: -145px;
}


/* Main footer */

.main-footer {
    margin-top: -120px;
    min-width: 1056px;
    height: 120px;
    padding: 20px auto;
    text-align: center;
    /* grid */
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}

.footer-contacts {
    margin-top: 15px;
    width: 240px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    /* grid */
    outline: 5px solid rgba(0, 255, 255, 0.7);
    outline-offset: -5px;
}

.footer-contacts a {
    color: var(--basic-dark);
    /*text-decoration: underline;*/
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.footer-contacts:hover {
    text-decoration: underline;
    /*background-color: var(--sea-green-hover);*/
}

.footer-social {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 200px;
    height: 60px;
    /*justify-content: space-around;*/
    align-content: center;
    vertical-align: middle;
    text-align: center;
    list-style: none;
    /* grid */
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.footer-social h2 {
    font-size: 14px;
}


/* Social button */

.social-button {
    width: 46px;
    height: 34px;
    color: inherit;
    background-color: var(--sea-green);
    text-align: center;
    padding-top: 14px;
    margin-right: 3px;
    margin-left: 3px;
    /*margin-right: 6px;*/
}

.social-button:hover {
    background-color: var(--sea-green-hover);
}

.social-button:focus {
    background-color: var(--sea-green-pressing);
}

.footer-copyright {
    margin-top: 30px;
    width: 240px;
    height: 60px;
    vertical-align: bottom;
    /* grid */
    outline: 5px solid rgba(0, 255, 0, 0.7);
    outline-offset: -5px;
}

.copyright {
    text-align: center;
    font-weight: 400;
    width: 240px;
    height: 60px;
    vertical-align: bottom;
}

.copyright .button:hover {
    color: var(--basic-black);
    background-color: var(--sea-green-hover);
}

.copyright .button:focus {
    color: var(--basic-black);
    background-color: var(--sea-green-hover);
}


/* catalog.html */

.filter-hotels {
    width: 1200px;
    height: 258px;
}

.stars {
    /* звездочки*/
    font-size: 14px;
    color: var(--sea-green);
    margin-bottom: 50px;
}

.table {
    display: table;
    margin-left: 29px;
    border-spacing: 6px;
}

.table-row {
    display: table-row;
}

.table-row a {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
}

.table-cell {
    display: table-cell;
    margin-right: 6px;
    text-align: left;
    vertical-align: middle;
}

.btn-detailed {
    width: 110px;
    height: 27px;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--sea-green);
}

.btn-reserve {
    width: 142px;
    height: 27px;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--brown);
}

.btn-detailed:hover {
    color: var(--basic-white);
    background-color: var(--sea-green-hover);
}

.btn-detailed:focus {
    color: var(var(--shadow));
    background-color: var(--sea-green-pressing);
}

.btn-reserve:hover {
    color: var(--basic-white);
    background-color: var(--brown-hover);
}

.btn-reserve:focus {
    color: var(--shadow);
    background-color: var(--brown-focus);
}

.rating {
    margin-left: 522px;
}

.list-filters {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: left;
    /*align-content: left;*/
    flex-wrap: nowrap;
    height: 86px;
    padding-bottom: 20px;
    max-width: 1200px;
    line-height: 26px;
    /* grid */
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}

.list-filters h3 {
    margin-top: 15px;
    height: 86px;
    display: inline-block;
    vertical-align: middle;
    max-width: 145px;
    margin-left: 73px;
    text-align: left;
    font-size: 21px;
    font-weight: 700;
    line-height: 86px;
    --special color: var(--special);
}

.list-filters h3:hover {
    color: var(--basic-black);
}

.list-filters h3:focus {
    color: var(--sea-green-pressing);
}

.list-filters p {
    display: inline-block;
    vertical-align: middle;
    height: 86px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 86px;
    color: var(--special);
}

.list-filters p:hover {
    color: var(--basic-black);
}

.list-filters p:focus {
    color: var(--sea-green-pressing);
}

.discovered p {}

.sorted-item p {
    margin-left: 46px;
}

.by-price p {
    text-align: left;
    margin-left: 40px;
}

.by-type p {
    text-align: left;
    margin-left: 32px;
}

.by-rating p {
    text-align: left;
    margin-left: 33px;
}

.sorted-down p {
    text-align: left;
    margin-left: 500px;
    color: var(--special);
}

.sorted-down p:hover {
    color: var(--basic-black);
}

.sorted-up p {
    margin-left: 12px;
    color: var(--special);
}

.sorted-up p:hover {
    color: var(--basic-black);
}

.catalog-list {
    list-style: none;
    /*display: flex;
    flex-direction: column;*/
}

.catalog-item {
    display: flex;
    flex-direction: row;
    max-height: 90px;
    align-content: top;
    /*flex-warp: warp;*/
    margin-left: 73px;
    margin-bottom: 51px;
    /* grid */
    outline: 5px solid rgba(255, 0, 0, 0.3);
    outline-offset: -5px;
}

.catalog-item h3 {
    text-align: left;
    margin-left: 29px;
    text-align: left;
}

.info {
    align-content: top;
}

.info h3 {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-block-start: 5px;
    line-height: 10px;
}

.rating {
    display: flex;
    flex-direction: column;
    margin-block-start: -5px;
    line-height: 5px;
}