:root {
    --basic-black: #000000;
    --basic-dark: #333333;
    --sea-green: #81B3D2;
    --sea-green-hover: #669EC0;
    --sea-green-active: #5496BD;
    --light-brown: #766357;
    --light-brown2: #766458;
    --brown: #766357;
    --brown-hover: #604E43;
    --brown-focus: #503E33;
    --basic-neutral: #666666;
    --yellow-light: #F2F2F2;
    --light-yellow: #EEEEEE;
    --basic-extra-light: #f8f5f2;
    --basic-white: #ffffff;
    --shadow: rgba(255, 255, 255, 0.3);
    --deep-shadow: rgba(0, 0, 0, 0.3);
    --color-calendar: #A9A9A9;
    --color-copyright: #BDBBBC;
    --special: #CACACA;
    /*-------ползунок---------------*/
    --color-range-controls: #f1f1f1;
    --background-scale: #d7dcde;
    --background-bar: #00ca74;
    --toggle-border: #ffffff;
    --toggle-background-color: #ababab;
    --toggle-box-shadow: #cfcfcf;
    --price-controls-color: #283136;
    --price-controls-background: #f1f1f1;
}


/* Global */

.page-body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
}

.shadow {
    box-sizing: border-box;
    /*position: absolute;*/
    /*background-position: 50%;*/
    width: 1200px;
    /*height: 2807px;*/
    text-align: center;
    margin: 0 auto;
    /*top: 0px;*/
    background: var(--shadow);
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page-body .shadow {
    padding-bottom: 120px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* Grid */

.page {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* Header */

.main-header {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;*/
    max-width: 1200px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 55px;
    padding-left: 72px;
    padding-bottom: 15px;
    padding-right: 72px;
    /* grid */
    /*outline: 5px solid rgba(0, 255, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.main-header-logo {
    text-align: center;
    margin-top: -26px;
    /* grid */
    order: 1;
    justify-self: center;
    /*outline: 5px solid rgba(255, 0, 0, 0.3);*/
    /*outline-offset: -5px;*/
}


/* Main navigation */

.main-navigation {
    display: grid;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    background-color: transparent;
}

.main-header-bar {
    background-color: var(--basic-black);
}

.main-navigation-wrapper {
    background-color: var(--basic-white);
    /* grid */
    max-width: 1056px;
    height: 56px;
    margin-bottom: -26px;
    margin: 0 auto;
    margin-bottom: -30px;
}

.site-navigation {
    /*сброс отступов для списка ссылок в навигации*/
    z-index: 2;
    /*order: 2;*/
    display: grid;
    grid-template-columns: 228px 300px 300px 228px;
    margin: 0;
    padding: 0;
    /*-------------------------*/
    padding-top: 18px;
    list-style: none;
    width: 1056px;
    max-height: 56px;
    /*--------------------------*/
    /*outline: 5px solid rgba(0, 255, 255, 0.3);*/
    /*outline-offset: -5px;*/
}

.site-navigation ul {
    grid-column: 1 / span 4;
}

.site-navigation-current a:not([href]) {
    background-color: var(--basic-white);
}

.left-side {
    text-align: left;
}

.right-side {
    text-align: right;
}


/* User navigation */

.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {
    text-decoration: underline;
    color: var(--sea-green-hover);
}

.site-navigation a:active {
    text-decoration: underline;
    color: rgb(0%, 0%, 0%, 0.3);
}

.user-navigation a:hover .site-navigation a:hover {
    text-decoration: underline;
    color: var(--sea-green-hover);
}

.site-navigation a:focus {
    text-decoration: underline;
    color: var(--light-brown);
}

.user-navigation a:focus {
    text-decoration: underline;
    color: var(--light-brown);
}

.hidden-text {
    display: none;
}

.picture {
    position: relative;
    z-index: 0;
    margin-top: 55px;
    text-align: center;
    /*---grid-----*/
    /*outline: 5px solid rgba(0, 255, 255, 0.2);*/
    /*outline-offset: -5px;*/
}

.desc {
    width: 1200px;
    height: 174px;
    padding-top: 55px;
    text-align: center;
    line-height: 26px;
    /*---grid-----*/
    /*outline: 5px solid rgba(0, 255, 255, 0.5);*/
    /*outline-offset: -5px;*/
}

.text-pic {
    display: inline-block;
    width: 400px;
    height: 209px;
    padding-top: 47px;
    text-align: center;
    background-color: var(--sea-green);
    color: var(--basic-white);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
    /*-------------------*/
    /*outline: 5px solid rgba(0, 25, 250, 0.2);*/
    /*outline-offset: -5px;*/
}

.inner-container {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-content: left;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.filter-box {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 191px;
    align-content: top;
    text-align: left;
    margin-top: -217px;
    padding-left: 72px;
    padding-top: 13px;
    padding-bottom: 0px;
    padding-right: 72px;
}


/* Features */

.features {
    width: 1100px;
    height: 184px;
    padding-left: 50px;
    padding-top: 64px;
    padding-bottom: 82px;
    padding-right: 50px;
    /* grid */
    /*outline: 5px solid rgba(255, 0, 0, 0.3);*/
}

.features-list {
    /* обнуление отступов */
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    /*-----------------*/
    list-style: none;
}

.feature-item {
    display: inline-block;
    box-sizing: border-box;
    max-width: 430px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: 400;
    align-items: flex-end;
    vertical-align: bottom;
    /* grid */
    /*outline: 5px solid rgba(0, 255, 255, 0.3);*/
    /*outline-offset: -5px;*/
}

.feature-item h3 {
    font-size: 21px;
    line-height: 21px;
}

.feature-item p {
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    /*-------------*/
    margin: 0 10px;
}


/* Landmark */

.landmark {
    height: 209px;
    padding-top: 47px;
    padding-left: 72px;
    padding-right: 72px;
    background-color: var(--light-yellow);
    /*-----------------*/
    /*outline: 5px solid rgba(0, 255, 255, 0.7);*/
    /*outline-offset: -5px;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.landmark-item {
    width: 302px;
    height: 155px;
    font-size: 14px;
    line-height: 21px;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: center;
    /*---grid-----*/
    /*outline: 5px solid rgba(0, 255, 255, 0.7);*/
    /*outline-offset: -5px;*/
}


/* Offers */

.offers {
    width: 1200px;
    height: 150px;
    text-align: center;
    padding-top: 56px;
    /*-----------------*/
    /*outline: 5px solid rgba(0, 255, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.offers h1 {
    width: 568px;
    height: 56px;
    padding-top: 30px;
    background-color: var(--light-brown);
    text-align: center;
    font-size: 21px;
    color: var(--basic-white);
    line-height: 26px;
}

.offers p {
    width: 568px;
    height: 95px;
    margin-left: 316px;
    margin-right: 316px;
    text-align: center;
    vertical-align: middle;
}

.offers-search {
    width: 568px;
    height: 56px;
    margin-left: 316px;
    padding-top: 30px;
    background-color: var(--light-brown);
    text-align: center;
    vertical-align: middle;
}

.win-popup {
    display: none;
    /*position: fixed;*/
    /*bottom: 0;*/
    margin-top: -10px;
    width: 458px;
    height: 295px;
    /*width: 568px;*/
    /*height: 481px;*/
    z-index: 2;
    padding: 20px 55px 50px 55px;
    background-color: var(--basic-white);
}

.form-popup {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    text-align: center;
    width: 458px;
    height: 295px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: -360px;
    font-size: 21px;
    line-height: 52px;
    z-index: 2;
    padding: 20px 55px 50px 55px;
    background-color: var(--basic-white);
    /* grid */
    /*outline: 5px solid rgba(0, 11, 55, 0.8);*/
    /*outline-offset: -5px;*/
}

.string-input {
    /*display: inline-flex;*/
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
    text-aline: left;
    vertical-align: middle;
}

.box {
    display: grid;
    grid-template-columns: 140px 140px 140px 30px;
    row-gap: 29px;
    z-index: 2;
    column-gap: 10;
    min-height: 70px;
    vertical-align: middle;
    text-align: left;
    align-content: center;
    /* grid */
    /*outline: 5px solid rgba(255, 0, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.box label {
    display: inline;
    height: 30px;
    vertical-align: middle;
    grid-column: 1 / 2;
    align-content: center;
}

.box input {
    display: inline-flex;
    height: 30px;
    width: 260px;
    border: none;
    color: var(--basic-black);
    background: var(--yellow-light);
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    grid-column: 2 / 4;
    margin-right: 6px;
    text-align: left;
    vertical-align: middle;
    align-content: center;
}

.box a {
    display: inline-flex;
    vertical-align: middle;
    height: 30px;
    grid-column: 4 / 5;
}

.box svg {
    fill: var(--color-calendar);
}

.box svg:hover path {
    fill: var(--basic-black);
}

.box svg:active path {
    fill: var(--sea-green);
}

.lbl-number-child {
    margin-left: 55px;
    margin-right: 18px;
}

.box2 {
    display: grid;
    grid-template-columns: 91px 12px 114px 12px 91px 12px 114px 12px;
    /*row-gap: 6px;*/
    /*column-gap: 10px;*/
    height: 38px;
    max-width: 458px;
    vertical-align: middle;
    text-align: left;
    align-content: center;
    /*width: 100px;*/
    /*padding: 10px;*/
    /*margin-top: 29px;*/
    /* grid */
    /*outline: 5px solid rgba(255, 0, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.string2-input {
    display: flex;
    height: 38px;
    grid-column: 1 / 8;
}

.string2-input label {
    display: inline-flex;
    height: 38px;
    align-self: center;
}

.string2-input input {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    align-self: center;
}

.input-number {
    margin-top: -5px;
}

.box2 label {
    width: 91px;
    height: 38px;
}

.symbol-left {
    top: -2px;
    display: inline-flex;
    align-content: center;
    position: relative;
    z-index: 2;
    height: 38px;
    width: 12px;
    margin-left: 28px;
    margin-right: -28px;
    left: 5px;
}

.symbol-right {
    top: -2px;
    display: inline-flex;
    align-content: center;
    position: relative;
    z-index: 2;
    width: 12px;
    height: 38px;
    margin-left: -28px;
    margin-right: 28px;
}

.box2 svg {
    width: 12px;
    height: 38px;
    fill: var(--color-calendar);
}


/*      +/-     */

.symbol-left:hover {
    fill: var(--basic-black);
}

.symbol-left:active {
    fill: var(--color-calendar);
}

.symbol-right:hover {
    fill: var(--basic-black);
}

.symbol-right:active {
    fill: var(--color-calendar);
}

.box2 input {
    border: none;
    text-align: center;
    width: 114px;
    height: 32px;
    background: var(--yellow-light);
}

.box2 input#id-number-child {
    border: none;
    margin-left: -32px;
    text-align: center;
    width: 110px;
    height: 32px;
    background: var(--yellow-light);
}

.input-data {
    /*display: inline-flex;*/
    align-content: center;
    align-self: center;
    width: 568px;
    height: 86px;
    border: none;
    background-color: var(--light-brown);
    margin-top: 0px;
    vertical-align: center;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    line-height: 86px;
    align-content: center;
    color: var(--basic-white);
    /*padding-top: 32px;*/
}

.input-data:hover {
    background-color: var(--brown-hover);
}

.input-data:active {
    background-color: var(--brown-focus);
    color: rgba(255, 255, 255, 0.3);
}

.input-data p {
    width: 568px;
    height: 86px;
    margin-top: 0px;
    /*background-color: var(--light-brown);*/
    vertical-align: center;
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    align-content: center;
    color: var(--basic-white);
    line-height: 86px;
}

.button-find {
    width: 458px;
    height: 58px;
    background-color: var(--sea-green);
    border: none;
    color: var(--basic-white);
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-top: 29px;
}

.button-find:hover {
    background-color: var(--sea-green-hover);
}

.button-find:active {
    background-color: var(--sea-green-active);
    color: var(--shadow);
}

.calendar {
    /*float: right;*/
    /*vertical-align: text-bottom;*/
}

.map {
    position: relative;
    z-index: 0;
    /*margin-top: -145px;*/
}


/* Main footer */

.main-footer {
    position: relative;
    background: none;
    width: 894px;
    height: 80px;
    align-content: center;
    align-items: center;
    margin: -120px auto 0;
    padding: 20px 124px;
    /* grid */
    /*outline: 5px solid rgba(255, 0, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.page-body .main-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: space-around;
    text-align: center;
}

.footer-contacts {
    margin: 0 90px;
    width: 240px;
    height: 80px;
    padding-bottom: 15px;
    text-align: center;
    align-self: center;
    /* grid */
    /*outline: 5px solid rgba(0, 255, 255, 0.7);*/
    /*outline-offset: -5px;*/
}

.footer-contacts a {
    color: var(--basic-black);
    /*text-decoration: underline;*/
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.footer-contacts a:hover {
    text-decoration: underline;
    color: var(--sea-green-hover);
}

.footer-contacts a:active {
    text-decoration: underline;
    color: var(--color-copyright);
}

.footer-social {
    margin: 0 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 80px;
    text-align: center;
    list-style: none;
    /* grid */
    /*outline: 5px solid rgba(0, 255, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.footer-social h2 {
    font-size: 14px;
}


/* Social button */

.social-button {
    display: flex;
    flex-direction: row;
    width: 46px;
    height: 46px;
    padding-top: 2px;
    color: inherit;
    align-items: center;
    background-color: var(--sea-green);
    text-align: center;
    justify-content: center;
    margin: 0 3px;
}

.social-button svg {
    fill: var(--basic-white);
}

.social-button:hover {
    background-color: var(--sea-green-hover);
}

.social-button:active {
    background-color: var(--sea-green-active);
}

.social-button:active svg {
    fill: var(--shadow);
}


/* -------------------- */

.footer-copyright {
    display: flex;
    flex-direction: row;
    margin: 0 90px;
    width: 240px;
    height: 80px;
    font-size: 14px;
    line-height: 80px;
    font-weight: 400;
    /*align-self: center;*/
    align-content: center;
    /* grid */
    /*outline: 5px solid rgba(0, 255, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.copyright {
    text-align: center;
    width: 240px;
    height: 80px;
    align-self: center;
    vertical-align: center;
}

.copyright svg {
    /*padding-top: 10px;*/
    align-self: center;
    align-items: center;
    fill: var(--basic-black);
}

.copyright svg:hover path {
    fill: var(--sea-green);
}

.copyright svg:active path {
    fill: var(--color-copyright);
}


/* catalog.html */

.inner-page .inner-container {
    color: var(--basic-white);
}

.inner-page .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}

.inner-page .shadow {
    background-repeat: repeat;
    padding-bottom: 150px;
    /*height: 933px;*/
}

.filter-hotels {
    width: 1200px;
    height: 258px;
}

.filter-hotels-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    max-width: 1200px;
    padding: 0px;
    /*-------------------*/
    /*outline: 5px solid rgba(0, 25, 250, 0.2);*/
    /*outline-offset: -5px;*/
}


/* check-box filter */

.checkbox-filter-price:hover+label,
.checkbox-filter-price:focus+label {
    color: var(--special);
}

.checkbox-filter-price {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-filter-price+label {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000000;
}

.checkbox-filter-price+label::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    border: 23px solid var(--basic-white);
    background-color: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.checkbox-filter-price:checked+label::before {
    border: 2px solid var(--basic-white);
    background-color: none;
    /*background-image: url("img/checkbox-on.svg");*/
}

.checkbox-lbl-price {
    display: inline-flex;
    align-items: left;
    text-align: left;
    user-select: none;
    margin-left: 5px;
}


/*---------------------*/

.checkbox-position svg {
    margin-left: 0px;
    fill: var(--basic-white);
}

.checkbox-button {
    display: none;
}

.checkbox-button svg {
    display: block;
    fill: var(--basic-white);
}

.checkbox-button+label {
    /*display: block;*/
    display: inline-flex;
    background: url("../img/checkbox-off.svg") no-repeat scroll 0 0;
    cursor: pointer;
    margin-bottom: 15px;
    align-items: left;
    justify-content: flex-start;
    fill: var(--basic-white);
    text-align: left;
    background-color: none;
    padding-left: 43px;
}

.checkbox-button+label svg {
    fill: var(--basic-white);
}

.checkbox-button:checked+label {
    background: url("../img/checkbox-on.svg") no-repeat scroll 0 0;
}


/*-------------------------*/

.checkbox-position label {
    display: inline-flex;
    margin-bottom: 15px;
    height: 23px;
    align-items: left;
    justify-content: flex-start;
    text-align: left;
    background-color: none;
    margin-right: 43px;
    margin-bottom: 20px;
    /*background-image: url("img/checkbox-on.svg");*/
}

.checkbox-position input {
    width: 23px;
    height: 23px;
    margin-right: 10px;
    margin-bottom: 5px;
    justify-content: center;
    color: var(--basic-white);
    border: solid 2px var(--basic-white);
    border-style: none;
}

.checkbox-position input:checked+label {
    background-color: none;
    /*background-image: url("img/checkbox-on.svg");*/
    cursor: pointer;
}

.checkbox-position input:checked+label:before {
    background-color: none;
    /*background-image: url("img/checkbox-on.svg");*/
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    border: 2px solid var(--basic-white);
}


/*  знак рубля  */

.rub::before {
    content: "\20BD";
}


/* ползунки*/

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    width: 317px;
}

.range-filter {
    width: 317px;
    margin-top: -7px;
}

.filter-item legend {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    height: 20px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    /*background-color: var(--color-range-controls);*/
    /*border-radius: 5px;*/
}

.range-controls .scale {
    height: 2px;
    background: var(--background-scale);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    /*background: #00ca74;*/
}

.range-controls .toggle {
    position: absolute;
    top: 11px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--toggle-border);
    background-color: var(--toggle-background-color);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-box-shadow);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 5px;
}

.range-controls .toggle-min:hover {
    border: 8px solid var(--toggle-border);
    background-color: var(--toggle-background-color);
    /*border-radius: 60%;*/
    transform: scale(1.25);
}

.range-controls .toggle-max {
    left: 150px;
}

.range-controls .toggle-max:hover {
    border: 8px solid var(--toggle-border);
    background-color: var(--toggle-background-color);
    /*border-radius: 60%;*/
    transform: scale(1.25);
}

.label .min-price {
    background-color: none;
    height: 10px;
    margin-left: 40px;
}

.price-controls {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 213px;
    height: 28px;
    padding: 0 50px;
    border: 2px solid var(--toggle-border);
    justify-content: space-between;
    background-color: none;
}

.min-price .input-min {
    width: 50px;
    height: 28px;
    padding-top: 0px;
    margin-left: 2px;
    border: none;
    align-self: center;
    background: none;
}

.vertical-stripe {
    margin: 2px 0;
    border-left: solid 2px;
}

.max-price .input-max {
    padding-top: 0px;
    border: none;
    width: 50px;
    height: 28px;
    background: none;
}

.price-controls label {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
}

.price-controls input {
    color: var(--basic-white);
}

.price-controls input-min {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    /*color: var(--price-controls-color);*/
    border: none;
    /*border-radius: 5px;*/
    /*background: var(--price-controls-background);*/
    background: none;
    font-family: inherit;
    font-size: inherit;
}

.button-price-controls {
    margin-top: 0px;
    margin-left: 90px;
    width: 137px;
    height: 36px;
    border: 2px solid var(--toggle-border);
    color: var(--basic-white);
    font-size: inherit;
    text-transform: uppercase;
    border-radius: 2px;
    background: none;
}

.button-price-controls:hover {
    color: var(--basic-black);
    background: var(--basic-white);
}


/*---------------------*/

.stars {
    /* звездочки*/
    font-size: 14px;
    color: var(--sea-green);
    margin-bottom: 50px;
}


/*---таблица----*/

.table {
    display: table;
    margin-left: 29px;
    border-spacing: 6px;
    margin-bottom: 30px;
}

.table-row {
    display: table-row;
}

.table-row a {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: var(--basic-white);
}

.table-cell {
    display: table-cell;
    margin-right: 6px;
    text-align: left;
    vertical-align: middle;
}


/*---------------------*/

.btn-detailed {
    width: 110px;
    height: 27px;
}

.btn-detailed button {
    width: 110px;
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    border: none;
    color: var(--basic-white);
    background-color: var(--sea-green);
    text-align: center;
}

.btn-reserve {
    width: 142px;
    height: 27px;
}

.btn-reserve button {
    width: 142px;
    height: 27px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    border: none;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--brown);
    text-align: center;
}

.btn-detailed:hover button {
    width: 110px;
    height: 27px;
    color: var(--basic-white);
    background-color: var(--sea-green-hover);
}

.btn-detailed:active button {
    color: var(--shadow);
    background-color: var(--sea-green-active);
}

.btn-reserve:hover button {
    color: var(--basic-white);
    background-color: var(--brown-hover);
}

.btn-reserve:active button {
    color: var(--shadow);
    background-color: var(--brown-focus);
}

.rating {
    margin-left: 522px;
}

.list-filters-box {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
    max-width: 1200px;
    height: 86px;
    align-items: center;
    /* grid */
    margin-bottom: 30px;
    /*outline: 5px solid rgba(255, 0, 0, 0.7);*/
    /*outline-offset: -5px;*/
}

.list-filters {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: left;
    align-content: center;
    flex-wrap: nowrap;
}

.list-filters p {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--deep-shadow);
}

.list-filters p:hover {
    color: var(--sea-green);
}

.list-filters p:active {
    color: var(--basic-black);
}

.list-filters p:visited {
    color: var(--sea-green);
}

.discovered {
    display: inline-block;
}

.discovered h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: var(--basic-black);
    text-align: left;
    /*vertical-align: middle;*/
    margin-left: 73px;
    /*max-width: 145px;*/
}

.discovered h3:hover {
    color: var(--basic-black);
}

.discovered h3:active {
    color: var(--sea-green-active);
}

.sorted-item p {
    color: var(--basic-black);
    margin-left: 0px;
}

.by-price p {
    text-align: left;
    margin-left: 40px;
}

.by-type p {
    text-align: left;
    margin-left: 32px;
}

.by-rating p {
    text-align: left;
    margin-left: 33px;
}

.sorted-down p {
    text-align: left;
    margin-left: 420px;
    color: var(--special);
}

.sorted-down p:hover {
    color: var(--basic-black);
}

.sorted-down p:active {
    color: var(--sea-green);
}

.sorted-down p:visited {
    color: var(--sea-green);
}

.sorted-up p {
    margin-left: 12px;
    color: var(--special);
}

.sorted-up p:hover {
    color: var(--basic-black);
}

.sorted-up p:active {
    color: var(--sea-green);
}

.sorted-up p:visited {
    color: var(--sea-green);
}

.catalog-list {
    list-style: none;
    margin-left: -31px;
    margin-bottom: 30px;
}

.catalog-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 73px;
    max-height: 90px;
    align-content: top;
    margin-bottom: 51px;
    /* grid */
    /*outline: 5px solid rgba(255, 0, 0, 0.3);*/
    /*outline-offset: -5px;*/
}

.info {
    align-content: top;
}

.info h3 {
    text-align: left;
    display: flex;
    margin-left: 31px;
    flex-direction: column;
    margin-block-start: 5px;
    line-height: 10px;
}

.info h3:hover {
    color: var(--sea-green);
}

.info h3:active {
    color: var(--deep-shadow);
}

.rating {
    display: flex;
    flex-direction: column;
    margin-block-start: -5px;
    line-height: 5px;
}

.inner-footer {
    position: relative;
    background: none;
    width: 894px;
    height: 80px;
    align-content: center;
    align-items: center;
    margin: -120px auto 0;
    padding: 20px 124px;
}

.inner-page .inner-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
    justify-content: space-around;
    text-align: center;
}